.dashboard-nav{
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #24242450;
    height: 40px;
    padding:0;
    margin-top: 0;
}
.dashboard-nav > a{
    margin: 0 auto;
    display: inline-block;
    height: 85%;
    background-color: aquamarine;
    border: 1px solid black;
    padding-top: 5px;
    margin-left: 10px;
    text-decoration: none;
}