.login{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.form-label{
    display: inline-block;
    width: 18em;
    text-align: center;
    margin-bottom: 0.5em;
}
.form-input-text{
    height: 2em;
    width: 20em;
    margin-bottom: 10px;
    border-radius: 2px;
}
.form{
    margin: 0 auto;
    width: 30%;
    margin-top: 25%;
    
}