.modal-background{
    text-align: center;
    top:0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #1212ae29;
}
.modal{
    position: absolute;
    top:40%;
    left: 40%;
}